{% extends "base.html" %}
{% block content %}

<ol>
    {% for annotation in existing_annotations %}
    <li>
        {{ annotation["annotation_name"] }}<br>
        <a href="/annotate/{{ annotation['id']|string }}/topics/">Go to annotation</a><br>
        <a href="/annotation/{{ annotation['id']|string }}/">View annotation</a>
    </li>

    {% endfor %}
</ol>


<form method="post">
   <label for="topic">Add annotation</label><br>
   <input type="text"  name="name" size="30" placeholder="Give annotation a name" autofocus><br>
   <input type="submit" value="Begin"><br><br>
</form>
{% endblock %}