{% extends "base.html" %}
{% block turns %}
{% for turn in turns %}
<a id="{{ turn }}"></a>
<p>{{ '(' + (turn + 1)|string + ')' + ' ' + meeting['turns'][turn].get('name') + ': ' + meeting['turns'][turn].get('contribution') }}</p>
{% endfor %}
{% endblock %}
{% block enter_topic %}
<div class="sidenav">
        <ol>
        {% for topic in topics %}
        <li>
            {{ topic["topic"]}}<br>{{ topic["the_range"] }}
        </li>
        {% endfor %}
    </ol><br>

    <form method="post">
        <label for="query">Add query</label><br>
        <textarea id="query" name="query" rows="1" cols="45" placeholder="Query" autofocus></textarea><br>
        <div>
            <input type="checkbox" id="0" name="topic" value="0">
            <label for="0">General</label><br>
            {% for k in range(0, topics_length) %}
            <input type="checkbox" id="{{ (k + 1)|string }}" name="topic" value="{{ (k + 1)|string }}">
            <label for="{{ (k + 1)|string }}">{{ "Topic " + (k + 1)|string }}</label>
            <br>
            {% endfor %}
        </div>
        <input type="submit" value="Add" formmethod="post">
    </form><br>

    <ol>
        {% for query in queries %}
        <li>
            {{ query["the_query"] }}<br>
            <a href='/annotate/{{ annotation_id|string }}/summaries/{{ query["id"]|string }}'>Answer</a>
        </li>
        {% endfor %}
    </ol><br>
    <a href="/meeting/list">Meeting list</a>




<!--

    <form action="{{ gen_q }}">
        <input type="submit" value="General Queries">
    </form>

    <form action="{{ spe_q }}">
        <input type="submit" value="Specific Queries">
    </form>
-->

</div>
{% endblock %}