{% extends "base.html" %}
{% block turns %}
{% for i in range(k, m) %}
<a id="{{ i }}"></a>
<p>{{ '(' + (i + 1)|string + ')' + ' ' + meeting['turns'][i].get('name') + ': ' + meeting['turns'][i].get('contribution') }}</p>
{% endfor %}
{% endblock %}
{% block enter_topic %}
<div class="sidenav">
   <!-- <form method="post">
        <input type="number" name="line" id="line" placeholder="Jump to line">
        <input type="submit" value="Jump" formmethod="post">
    </form>-->


    <form method="post">
        <label for="topic">Add Topic</label><br>
        <textarea id="topic" name="topic" rows="1" cols="30" placeholder="Topic name" autofocus></textarea><br>
        <input type="text" id="range" name="range" size="30" placeholder="Topic range (e.g. 1-43, 231-350)"><br>
        <input type="submit" value="Add" formmethod="post">
    </form><br>

     <ol>
        {% for topic in topics %}
        <li>
            {{ topic["topic"]}}<br>{{ topic["the_range"] }}
        </li>
        {% endfor %}
    </ol><br>

    <a href="{{ gen_q }}">Queries</a><br>
    <a href="/meeting/list">Meeting List</a>


</div>
{% endblock %}